.draggable {
    float:left;width:100px;height:100px;padding:2px;margin:2px;text-align:center;padding-top:15px;overflow:hidden;
}

.draggable_icon {
    font-size:1.5em;font-family:FontAwesome;text-decoration:none;color:#666;padding:5px;-webkit-box-shadow: 2px 2px 3px 2px #ccc; -moz-box-shadow: 2px 2px 3px 2px #ccc; box-shadow: 2px 2px 3px 2px #ccc;
}